/*	Lightbox v2 Project page styles	
 *	Author: Lokesh Dhakar http://www.lokeshdhakar.com
 *	Created: a long time ago (2006 I think)
 *	Table of Contents:
 *		layout
 *		typography
 *    content */

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 45, ../sass/screen.sass */
#lightbox {
  text-shadow: none;
}

/* Links */
/* line 122, ../sass/screen.sass */
a {
  color:#000;
  text-decoration: none;
}
/* line 125, ../sass/screen.sass */
a:hover {
  color:#00F;
}