﻿#wrapp {
	width: 1024px;
	height: 768px;
	margin:0 auto 0 auto;
	background-color:#FFF;
}

body{
	background-color:#CCC;
	font-family:Tahoma, Geneva, sans-serif;
}

#btn_excel
{
	width: 32px;
	height: 32px;
	border: none;
	cursor: pointer;
	background-color: #FFF;
	background-image: url('../img/excel icon.png');
	background-repeat: no-repeat;
}

#btn_imprimir
{
	width: 32px;
	height: 32px;
	border: none;
	cursor: pointer;
	background-color: #FFF;
	background-image: url('../img/print icon.png');
	background-repeat: no-repeat;
}

#header { 
     width: 1024px;
	 height: 135px;
	 background-image:url(../img/fondo_contenido3.jpg);
	 float:left;
}
.division{
	width: 1024px;
	height: 123px;
	float:left;
}
.division2{
	height: 12px;
	width: 1024px;
	background-color: #ba9124;
	float:right;
}
#cuerpo {
	width: 1024px;
	height: 633px;
	background-color:#dbe0e6;	
}

#columna1 {
	width: 200px;
	height: 633px;
	background-color:#dbe0e6;
	float:left;
}
#columna2 {
	width: 824px;
	height: 633px;
	background-color:#dbe0e6;
	float:left;
}
#contenido_columna2 {
	margin-top: 5px;
	margin-right: 17px;
	margin-bottom: 17px;
	width: 807px;
	height: 599px;
	background-color:#FFF;
	float:left;
}
#contenido_columna2 table tr td{
	text-align:left;
	padding:5px 15px;
}
#contenido_columna2 table tr th{
	padding:10px 5px;
}
#contenido_columna2 table, fieldset{
	 width:654px;
}
.contenido_columna1 {
	margin-left: 17px;
	margin-top: 38px;
	width: 183px;
	height: 450px;
	background-color: #999;
	overflow-y:auto;
	overflow-x:hidden;
	border-bottom:5px solid #999;
}
.buscar{
	padding-top: 4px;
	margin-bottom: 38px;
	margin-left: 17px;
	width: 183px;
	height: 35px;
	text-align:center;
	background-color: #83868b;
}
.buscar3{
	padding-top: 4px;
	margin-bottom: 38px;
	margin-left: 17px;
	width: 183px;
	height: 105px;
	text-align:center;
	background-color: #83868b;
	overflow-x:hidden;
	border-bottom:5px solid #83868b;
}
.logo_principal2{
	margin-left: 10px;
	margin-top: 4px;
	width: 238px;
	float:left;
}
.logo2{
	width: 339px;
	height: 135px;
	float: left;	
}
.login {
	height: 135px;
	width: 340px;
	float:right;
	background-color:#FFF;	
}
.contenido_pagina{
	width: 780px;
	height: 576px;
	background-color:#FFF;
	margin: 10px;
	border: solid 1px #00377a;
}
.logo_principal{
	margin-bottom: 100px;
	margin-left: 160px;
	margin-right: 160px;
	margin-top: 85px;	
}
.fondo_titulo{
	background-image:url(../img/fondo_contenido2.jpg);
	width: 780px;
	height: 95px;
}
.fondo_titulo1{
	width: 780px;
	height: 95px;
	background-image:url(../img/fondo_contenido2.jpg);
}
.area_contenido{
	width: 780px;
	height: 479px;
	float:left;
}
.area_contenido1{
	width: 780px;
	height: 479px;
	overflow: auto;
}
.textos{
	color:#6d6d6d;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
}
.area_contenido1 form input{
	text-align:center;
}
.area_contenido1 table tr td{
	padding:10px 5px;
	font-size:12px;
	font-weight:bold;
	color:#444;		
}
.area_contenido1 fieldset{
	color:#444;
	font-size:12px;
	font-weight:bold;
}
.area_contenido1 fieldset legend{
	color:#003;
	font-size:16px;
	font-weight:bold;
}
.area_contenido1 fieldset:hover{
	box-shadow: 2px 2px 10px rgb(0, 0, 0);
	-webkit-box-shadow: 2px 2px 10px rgb(0, 0, 0);
	-moz-box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.area_contenido1 fieldset:hover legend{
	text-shadow:2px 2px 10px rgb(0, 0, 3);
	color:#005;
}
.titulos{
	color:#FFF;
	text-align:center;
	background-color:#7f7f7f;
	margin-left: 54px;
	margin-right:54px;
	height: 30px;
	font-size:16px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	padding-top: 9px;
}
th{
	color: #FFF;
	text-align: center;
	vertical-align: top;
	font-weight:bold;
	font-size:15px;
	background-color: #7f7f7f;
	font-family:Tahoma, Geneva, sans-serif;
	border:none;
}
td{
	text-align:center;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#000;
}
.fondo_boton{
	background-image:url(../img/fondo_boton.jpg);
	color:#FFF;
	height: 23px;
	font-weight:bold;
	box-shadow: 2px 2px 7px rgb(0, 0, 0);
	-webkit-box-shadow: 2px 2px 7px rgb(0, 0, 0);
	-moz-box-shadow: 2px 2px 7px rgb(0, 0, 0);
}
.fondo_boton:hover{
	cursor:pointer;
	box-shadow: 2px 2px 10px rgb(0, 0, 0);	
	-webkit-box-shadow: 2px 2px 10px rgb(0, 0, 0);
	-moz-box-shadow: 2px 2px 10px rgb(0, 0, 0);
/*	margin-top:-2px;
	margin-bottom:2px;
	ROTA EL BOTON HORIZONTAL
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	rotation: 180deg;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=180);	*/
}
.nom_proveedor{
	float:left;
	width: 220px;
}
.etiqueta{
	font-size:18px;
	float:left;
	width:auto;
}
.contenido{
	margin-left: 54px;
	margin-right:54px;
	width: auto;
}
.categoria{
	width: 245px;
	height:auto;
	padding-left: 28px;
	padding-top: 28px;
	font-size:38px;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	color: #FFF;
}
a{
	text-decoration:none;
	color:#000;
}
.alineacion_tabla{
	margin-left: 54px;
	margin-right: 54px;
	height:auto;
}
.contenido_proveedor{
	margin-left: 40px;
	margin-right:30px;
}

input{
	font-size: 12px;
	height: 15px;
	
}
.contenido_atras{
	width: 780px;
	height: 455px;
}
.buscar2{
	margin-right: 45px;
	margin-top: 6px;
	height: 30px;
	padding-top:2px;
	text-align:right;
	float:right;
	color:#666;
	font-weight:bold;
}
.area_contenido2{
	width: 780px;
	height: 442px;
	overflow: auto;
	background-color:transparent;
}
input.error
{
	background-color: #330000;
}
<!--Acordeon Menu Lateral INICIO-->
#accordion { /* el rectángulo contenedor */
	width:180px;
}
#accordion h3{ /* los enlaces que despliegan y contraen el contenido 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 10px #444 inset;
	-webkit-box-shadow: 0 0 10px #444 inset;
	box-shadow: 0 0 10px #444 inset;*/
	background-color: #999;
	color: #FFF;
	font-weight:bold;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 17px;
	height: 40px;
	line-height: 1.7em;
	margin: 0 0 2px;
	padding:10px 0 5px 30px;
	position: relative;
}
#accordion h3 a{
	color:#FFF;
}
#accordion h3:hover { /* efecto hover sobre esos enlaces 
	-moz-box-shadow: 0 0 10px #000 inset;
	-webkit-box-shadow: 0 0 10px #000 inset;
	box-shadow: 0 0 10px #000 inset;*/
	background-color: #333;
	color: #FFF;
}
#accordion h3 span { /* una imagen que permuta segñun el estado del contenido */
	background: transparent url(../img/arrow_left.png) no-repeat;
	display: block;
	height: 16px;
	position: absolute;
	right: 20px;
	top: 17px;
	width: 16px;
	left:5px;
}
#accordion h3.active{
	background-color:#333;
}
#accordion h3.active span { /* desplegado */
	background: transparent url(../img/arrow_down.png) no-repeat;
}
#accordion div ul{ /* el contenido */
	color: #FFF;
	font-family: Georgia;
	font-size: 15px;
	line-height: 1.5;
	padding: 10px;
	background-color:#999;
	margin-bottom:2px;
	text-decoration:none;
	margin-top:0;
}
#accordion div ul li{
	padding:5px 0 5px 15px;  
}
#accordion div ul li a{
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
<!--Acordeon Menu Lateral FINAL-->
.inputs input{
	text-align:center;
}
#cleft{
	text-align:right; 
	width:70px; 
	float:left;
	padding:5px 10px 5px 0;
}
#cright{
	text-align:left;
	width:185px; 
	float:left;
	padding:5px 10px 5px 0;
	padding-left:10px;
}
#alleft{
	text-align:left !important;
}
#alright{
	text-align:right !important;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 30px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.1em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width:100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

#moldes
{
	margin-top:20px;
	margin-left:50px;
}

#tabla_paciente
{
	margin:10px 0 0 95px;
}

#especificaciones
{
	margin:10px 0 0 240px;
}

#datos_molde
{
	margin:0px 0 0 220px;
}

#molde_hecho_medida
{
	margin:0px 0 0 210px;
}

#estilos_moldes
{
	width:100px;
	height:100px;
	margin:0 0 0 90px;
}

#imagen_ventilacion
{
	width:150px;
	height:100px;
	margin:20px 0 0 65px;
}

#imagen_salida
{
	width:120px;
	height:140px;
	margin:20px 0 0 80px;
}

#imagenes
{
	width:240px;
	height:380px;
	margin:-400px 0 0 465px;
}

#imagenes2
{
	width:240px;
	height:420px;
	margin:-380px 0 0 465px;
}

#centrado
{
	text-align:center;
}

#boton_Guardar
{
	width:490px;
}

#boton_ventilacion
{
	width:515px;
}

#boton_salida
{
	width:415px;
}

#boton_guardar_colores
{
	width:425px;
}

.paginas
{
	margin: 10px 0 0 0;
    padding: 8px;
    background-color: #7f7f7f;
    font-size: 12px;
    font-family:Tahoma, Geneva, sans-serif;
    color: #FFF;
    border: 1px #000 solid;
}

.paginas:hover
{
	margin: 10px 0 0 0;
    padding: 8px;
    background-color: #FFF;
    font-size: 12px;
    font-family:Tahoma, Geneva, sans-serif;
    color: #000;
    border: 1px #000 solid;
}
