﻿#wrapp {
	width: 1024px;
	height: 768px;
	margin:0 auto 0 auto;
	background-color:#0F0;
}

body {
	background-color:#000;
}

#header { 
     width: 1024px;
	 height: 135px;
	 background-color:#FFF;
}

#cuerpo {
	width: 1024px;
	height: 633px;
	background-color:#C9F;	
}

#columna1 {
	width: 200px;
	height: 633px;
	background-color:#dbe0e6;
	float:left;
}

#columna2 {
	width: 824px;
	height: 633px;
	background-color:#dbe0e6;
	float:left;
}

#contenido_columna2 {
	margin-right: 17px;
	margin-bottom: 17px;
	width: 808px;
	height: 599px;
	background-color:#FFF;
	float:left;
}

.contenido_columna1 {
	margin-left: 17px;
	margin-top: 38px;
	width: 183px;
	height: 520px;
	background-color: #FFF;
	overflow:auto;
}

.buscar{
	padding-top: 4px;
	margin-bottom: 38px;
	margin-left: 17px;
	width: 183px;
	height: 35px;
	text-align:center;
	background-color: #FFF;
}

.logo{	
	width: 339px;
	height: 135;
	float: left;	
}

.logo2{
	width: 339px;
	height: 135px;
	float: left;	
}

.login {
	height: 135px;
	width: 340px;
	float:right;
	background-color:#FFF;	
}

.contenido_pagina{
	width: 780px;
	height: 573px;
	background-color:#FFF;
	margin: 10px;
	border: solid #00377a;
}

.logo_principal{
	margin-bottom: 100px;
	margin-left: 160px;
	margin-right: 160px;
	margin-top: 85px;	
	
}

.fondo_titulo{
	background-color:#02306b;
	width: 780px;
	height: 118px;
}

.fondo_titulo1{
	width: 780px;
	height: 118px;
	
}

.area_contenido{
	width: 780px;
	height: 455px;
}

.area_contenido1{
	width: 780px;
	height: 455px;
	overflow: auto;
	background-image:url(../img/fondo_contenido.jpg);
}

.textos{
	color:#FFF;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.titulos{
	color:#FFF;
	text-align:center;
	background-color:#021830;
	margin-left: 54px;
	margin-right:54px;
	height: 30px;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 9px;
}


th{
	color: #FFF;
	text-align: center;
	vertical-align: top;
	font-weight:bold;
	font-size:15px;
	background-color: #011933;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
}

td{
	text-align:center;
	color:#FFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	
}

.fondo_boton{
	background-image:url(../img/fondo_boton.jpg);
	color:#FFF;
	height: 24px;
	font-weight:bold;
}

.nom_proveedor{
	float:left;
	width: 220px;
}

.etiqueta{
	color:#FFF;
	font-size:18px;
	float:left;
}

.contenido{
	margin-left: 54px;
	margin-right:54px;
	width: 500px;
}

.categoria{
	width: 245px;
	height:auto;
	padding-left: 28px;
	padding-top: 35px;
	font-size:38px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
}

a{
	text-decoration:none;
	color:#FFF;
}

.alineacion_tabla{
	margin-left: 54px;
	margin-right: 54px;
	height:auto;
}

.contenido_proveedor{
	margin-left: 54px;
	margin-right:54px;
}

input{
	font-size: 12px;
	height: 12px;		
	
}

.contenido_atras{
	background-image:url(../img/fondo_contenido.jpg);
	width: 780px;
	height: 455px;
}
.buscar2{
	text-align:right;
	margin-top: 6px;
	margin-right:30px;
	width: 500px;
	height: 30px;
	padding-top:2px;
	float:right;
	color:#FFF;
	font-weight:bold;
	background-color:transparent;
}

.area_contenido2{
	width: 780px;
	height: 423px;
	overflow: auto;
	background-color: transparent;
}

.area_contenido2 table{
	padding:5px 25px;
	width:600px;
	margin:0 54px;
}
label.error
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
	padding: 5px;
}

input.error
{
	background-color: #FF0000;
}