@charset "utf-8";
/* CSS Document */
body{
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	background-color:#CCF;
}
#cabecera{
	margin-top:-1px;
	background-color:#F90;
	height:30px;
	text-align:center;
	color:#FFF;
	border-bottom:2px solid #666;
	font-size:24px;
	padding-top:5px;	
}
#columna1{
	width: 200px;
	height: 560px;
	border-right:2px solid #666;
	margin-left:20px;
	float:left;
}
#columna1 a{
	color:#333;
	text-decoration:none;	
}
#columna1 a:hover{
	color:#F00;
}
#columna2{
	background-color:#CCF;
	width:780px;
	float:left;
}
iframe{
	width:780px;
	height:560px;
	background-color:#CCF;	
	border:none;
}
.controls{
	margin-bottom:5px;
	text-align:center;
	color:#C30;
}
.controls a{
	color:#C30 !important;
}
.contenido{
	border:1px solid #060;
	width:500px;
	margin-top:120px;
	text-align:center;
	margin-left:150px;
	font-size:36px;	
}
.contenido h1{
	font-size:36px;
	color:#930;
	text-transform:uppercase;
	font-size:36px;
}
.contenido h3{
	font-size:24px;
	line-height:40px;
}
.contenido2{
	background-color:#CCF;
	overflow:scroll;
	text-align:justify;
	margin:30px 20px 0 20px;
	color:#663;
	height:560px;
	width:760px;
	margin-top:0px;
	overflow-x:hidden;
}
img{
	border-radius:15px 15px 15px 15px;
	border:2px solid #666;
}
p{
	font-size:20px;
	padding:10px 30px 0 30px;
	line-height:34px;
	text-align:justify;
}
.contenido2 ul li{
	font-size:16px;
	margin:0 0 0 40px;
	line-height:30px;
}
#video{
	font-size:16px;
	text-align:right;
	padding-right:30px;	
	margin-top:-10px;
}
#video a{
	color:#F60;
	text-decoration:none;
}
#titulo{
	text-align:center !important; 
	text-transform:uppercase; 
	margin-bottom:10px;
	font-size:30px;
}
#texto{
	line-height:30px;
	margin:0 30px;
}